<!-- Slider Show Presentation-->
<section id="englishpresentation" *ngIf="ENGLISH">
  <div id="myCarousel" class="carousel slide px-0 mx-0" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
      </ol>

      <div class="carousel-inner">

          <div class="carousel-item carousel-image-1 active">
              <div class="dark-overlay">
                  <div class="carousel-caption d-none d-sm-block text-right mb-5">
                    <h1>Beutifying Minds with Primal Inginuity</h1>
                    <h5>Embrace Creative Innovation with the Success Architecture Primal Inginuity Model, and make your Organization's Innovation Success a challenging and exciting journey.</h5>
                    <a routerLink="/contact" class="btn btn-success btn-lg">Get A Quote for Your Organization</a>
                  </div>
              </div>
          </div>

        <div class="carousel-item carousel-image-2">
            <div class="dark-overlay">
                <div class="carousel-caption d-none d-sm-block text-right mb-5">
                  <h1>Speak to your mind with its inate language.</h1>
                  <h5>Creative Innovation with Success Architecture speaks to each of your three brains in their language of choice. Your primitive primal, emotional/ locomotive, and creative/logical brains.</h5>
                  <a routerLink="/contact" class="btn btn-primary btn-lg">Get One-2-One Quote for Individuals</a>
                </div>
            </div>
        </div>

        <div class="carousel-item carousel-image-3">
            <div class="dark-overlay">
                <div class="carousel-caption d-none d-sm-block text-right mb-5">
                  <h1>Creative Success Architecture Creates DRIVE…</h1>
                  <h5>Creative Success Architecture mechanisims will teach you how to structure the organization's environment to ignite the spark in your employees. Thus you intrinsically motivate learning and acquiring knowledge feeding positive energy that will not fade in a life time. Ignite the internal spark of innovation within your organization using our Human Cybernetic Artificial Intelligence model.</h5>
                  <a routerLink="/register" class="btn btn-danger btn-lg">Register</a>
                </div>
            </div>
        </div>

        <div class="carousel-item carousel-image-4">
            <div class="dark-overlay">
            <div class="carousel-caption d-none d-sm-block text-right mb-5">
              <h1>Develope Corporate Entrepreneurship within your Organization</h1>
              <h5>What modern innovation strategies are in use today to introduce             new products in the market? How can you seamlessly solicit process or service innovative products to pursue either a value or low cost based business strategy? How to create unique customer value by delivering a great product, service, or process that satisfies certain needs; and in return capture value back.      Successful innovative Organization embed clear, and precise value proposition in a coherent business model in order to create and capture value.</h5>
              <a routerLink="/login" class="btn btn-warning btn-lg">Sign In</a>
            </div>
          </div>
        </div>

        <div class="carousel-item carousel-image-5">
            <div class="dark-overlay">
            <div class="carousel-caption d-none d-sm-block text-right mb-5">
              <h1>Fast Track Iteritive Innovation with Balance.</h1>
              <h5 class="lead">Use the iterative balancing process inherent to Success Architecture to fast track needed innovation in your organization. Modern Organizations, are required to produce new ideas and products at a much faster pace than, even, a decade ago. Of the one hundred internationally known corporations that were started a century ago; only one third remain. How did the most innovative survive? What caused the others to perish?</h5>
            </div>
          </div>
        </div>

        <div class="carousel-item carousel-image-6">
            <div class="dark-overlay">
                <div class="carousel-caption d-none d-sm-block text-right mb-5">
                  <h1>We provide you with skills, knowledge, and strategies...</h1>
                  <h5>that will help you develop a precise strategy, business model, and tactics for your nnovative products, services, or processes. You will learn how to recognize disruptive technologies and new market trends in your industry. Supply side or demand side disruptions may have detrimental effects on the survivability of your business. How to deal with these and even pursue favorable strategies stream lined for change.</h5>
                </div>
            </div>
        </div>

        <div class="carousel-item carousel-image-7">
            <div class="dark-overlay">
                <div class="carousel-caption d-none d-sm-block text-right mb-5">
                  <h1>Learn Creative Collaboration</h1>
                  <h5>Initiate creativity more frequently, break out of stale mindsets more often, progress through the creative process more efficiently and systematically. Better persist with positive consistency. Work effectively with other people to generate new ideas. Understand how others might perceive and evaluate your ideas. Pitch creative ideas to your management for more likely acceptance. The importance of team dynamics, and innovation in a social networking context.</h5>
                </div>
            </div>
        </div>
    </div>
      <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
          <span class="carousel-control-prev-icon"></span>
      </a>
      <a href="#myCarousel" data-slide="next" class="carousel-control-next">
          <span class="carousel-control-next-icon"></span>
      </a>

  </div>
</section>


<section id="bodyenglish" *ngIf="ENGLISH">

  <div class="container">
    <!-- Start Container for all rows -->

    <div class="row" id="whoRU">
        <br /><br /><br /><br />
        <div class="ml-auto">
            <h1 class="mastertitle text-right">MASTER SUCCESS ARCHITECT in INNOVATION &  ORGANIZATIONAL ENTREPRENEURSHIP CERTIFICATION</h1>
        </div>
        <div class="col-xs-12 ml-auto mb-3">
                <img src="../../../assets/images/architecture-768432.jpg" alt="master success architecture">
        </div>
        <div class="col-xs-12">
            <h5>
                Achieve Self mastery…
                Discover the systems that govern our primal Brain…
                How our Brain does helps us survive…
                Use primal Creativity…
                Find out the most simple design equilibrium governing system built within us that makes our brains superior…
                Our Brains are engineered for success…
                How did engineers harness basic Brain mechanisms to build advance technology?
                What makes us superior to Artificial Intelligence Robots and where we are similar?
                Use our Cybernetic nature to create, think, achieve, develop, build character, grow, and succeed.
                Master your brains primal functions to escape the constant unchanging perception of the world. This training track teaches your organization’s leaders the primal Success Architecture tools to escape the constant and pursue an innovative future. Learn how to use disruptive strategies to tool-up your organization with innovative tinkering techniques to enable your leaders into the future. How did famous leaders redesign their entire organization when their core existence was threatened?
            </h5>
        </div>
        <br /><br /><br />
        <div class="col-2"></div>
        <h1 class="display-3 my-5 programstitle"><strong>MAIN PROGRAMS</strong></h1>
    </div>

    <hr>

    <div class="row my-5">
        <br /><br /><br /><br /><br /><br /><br />
        <div class="col-xs-12 col-sm-6">
            <div>
                <h1 class="mastertitle text-right">A PREREQUISITE IN SUCCESS ARCHITECTURE</h1>
                <h3 class="logistics">A ONE Day Core Introductory</h3>
                <h5>Essential for all Master Program Certification</h5>
            </div>
            <div>
                <h5>
                    Start with this training program to discover the concept behind Success Architecture…
                    How does our Brain organize and architects data to foster natural creativity…
                    How can we achieve self mastery; develop our character, and skills?
                    What makes Success Architecture unique?
                    What are the primal success mechanisms in our brain?
                    How can we use these structures to enhance our life values?
                </h5>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
                <img src="../../../assets/images/060113g0004.jpg" alt="PREREQUISITE image">
        </div>
    </div>
    <hr>


    <div class="row my-5">
        <br /><br /><br /><br /><br /><br /><br />
        <div class="col-xs-12 col-sm-6">
            <div>
                <h1 class="mastertitle text-right">CREATIVE SUCCESS ARCHITECTURE CORE</h1>
                <h3 class="logistics">Become a Success Architect in This FIVE Days Core Training Program</h3>
                <h5>Essential for all Master Program Certification</h5>
            </div>
            <div>
                <h5>
                    This main training program focuses on the infinite potential that exists in our primal brain which surpasses any built Computer Programs or machinery.
                    Train in the actual mechanics that make up the components of Success Architecture. Develop these abilities, skills, know-how, and proficiency, to help you harness Success Architecture energies to add balance to your personal and professional life.
                    How do you discover and architect your life plans in accordance with your basic primal instincts. What are the dimensions of personal character and how can you design and architect your personality?
                    Success Architecture is founded on scientific progress in Brain technology, presented in a simple to understand applied methodology. Neurology, Artificial Intelligence, Systems Engineering are the basis for newest discoveries in this area.
                    Make yourself intuitive with habitual automatic energies for Mental Toughness, Creativity, Innovation, Success, and Agility.
                    Build habits in your life with Cybernetic.
                </h5>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="preqimage">
                <img class="img-fluid" src="../../../assets/images/sparkler-677774.jpg"  alt="core program image">
            </div>
        </div>
    </div>
    <hr>

    <div class="row my-5">
      <br /><br /><br /><br /><br /><br /><br />
      <div class="col-xs-12 col-sm-6">
          <div>
              <h1 class="mastertitle text-right">THINK TANK</h1>
              <h3 class="logistics">A FIVE Day Creative Thinking Course</h3>
              <h5>Essential for all Master Program Certification</h5>
          </div>
          <div>
              <h5>
                  Thinking, Creativity, Innovation are skills that can be learnt. Learn the thinking strategies used by Leonardo da vinci, Einstein, Thomas Edison and genius from all ages. What is the ultimate creativity tool basic to our Brain? How to avoid crippling and preventing this mechanism? Learn the skill for natural primal creativity as part of Success Architecture mechanism… Make it part of your instinct. Use it to enhance your life in every aspect. How does data architect in your brain? Learn how data makes up information; and how the space between data structures make up creativity and innovation. How do we end up living inside a box and how do we escape the limiting factors imposed on our thinking brain. Learn types of thinking such as emotional and critical. How important is emotional intelligence in our lives. Learn 100 thinking tools for creativity and problem solving.
              </h5>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6">
          <div class="">
              <img class="img-responsive" src="../../../assets/images/061213d0295.jpg"  alt="Creativity image">
          </div>
      </div>
      <br /><br /><br />
      <div class="col-1"></div>
      <h1 class="display-3 my-5 programstitle"><strong>SUBSIDIARY PROGRAMS</strong></h1>
  </div>
  <hr>

    <div class="row my-5">
        <br /><br /><br /><br /><br /><br /><br />
        <div class="col-xs-12 col-sm-6">
            <div>
                <h1 class="mastertitle text-right">Innovation: Organizational Tools and Strategies</h1>
                <h3 class="logistics">FIVE Days in Organizational Innovation</h3>
                <h5>Essential for Master Certification in Innovation & Organizational Entrepreneurship</h5>
            </div>
            <div>
                <h5>
                  Building innovation in the organization requires
                  tools and strategies to harness and stream line production
                  from innovators, collaborative colleagues, supportive
                  management, information management systems, and
                  external sources in the organization’s ecosystem. What
                  modern innovation strategies are in use today to introduce
                  new products in the market? How can you seamlessly
                  solicit process or service innovative products to pursue
                  either a value or low cost based business strategy? This
                  course is about how to create unique customer value
                  by delivering a great product, service, or process that
                  satisfies certain needs; and in return capture value back.
                  Successful innovative Organization embed clear, and
                  precise value proposition in a coherent business model in
                  order to create and capture value.
                </h5>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="">
                <img class="img-responsive" src="../../../assets/images/tablet-1719191.jpg"  alt="Drones Control">
            </div>
        </div>
    </div>
    <hr>

    <div class="row my-5">
      <br /><br /><br /><br /><br /><br /><br />
      <div class="col-xs-12 col-sm-6">
          <div>
            <h1 class="mastertitle text-right">Innovation: Corporate Entrepreneurship</h1>
            <h3 class="logistics">FIVE Days in Corporate Entrepreneurship</h3>
            <h5>Essential for Master Certification in Innovation & Organizational Entrepreneurship</h5>
          </div>
          <div>
              <h5>
                In a context of intense competition, severe market disruption, and an increasingly changing
                competitive global business environment, innovation becomes indispensable. Successful Organization’s
                recognize this imperative and place appropriate innovation system to support and extend their capabilities.
                Organizations must develop and sustain holistic innovation programms to identify and generate high
                impact business opportunities and ideas, hence transforming them into purposeful innovations that create
                significant value in their ecosystem. This high competitiveness leads to a dilemma making innovation a
                key to survive; whilst repeatability, execution, and operational control focus inherent to organizations may
                signify a barrier to replicate entrepreneurial behavior through the entire business.
              </h5>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="">
                <img class="img-responsive" src="../../../assets/images/business-841174.jpg"  alt="women open  Intelligence">
            </div>
        </div>
      </div>
      <hr>
    </div>

    <div class="container">
        <div
            ng2-carouselamos
            id="swiper2"
            [width]="1045"
            [items]="items"
            [$item]="item"
            [$prev]="prev"
            [$next]="next"
          ></div>

          <ng-template #prev>
            <button class="btn btn-danger" id="left2">
                <i class="fas fa-lg fa-chevron-left"></i>
              </button>
          </ng-template>

          <ng-template #next>
              <button class="btn btn-info" id="right2">
                  <i class="fas fa-lg fa-chevron-right"></i>
                </button>
          </ng-template>

          <ng-template let-item let-i="index" #item>
            <div class="items">
              <div class="card border-dark advert">
                <div class="card-header"><h4>{{item.title}}</h4></div>
                <div class="card-body">
                  <div class="picdiv mx-auto">
                    <img class="img-fluid" src="{{item.img}}">
                  </div>
                  <div class="mt-3"> {{item.description}}
                  </div>
                </div>
                <div class="card-footer">
                  <button routerLink="{{item.link}}" class="btn btn-link text-primary">Learn more...</button>
                </div>
              </div>
            </div>
          </ng-template>
    </div>

</section>

<section class="arabicpresentation" *ngIf="ARABIC">
  <h1>ARABIC</h1>  <div id="myCarousel" class="carousel slide px-0 mx-0" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
    </ol>

    <div class="carousel-inner">

        <div class="carousel-item carousel-image-1 active">
            <div class="dark-overlay">
              <div class="container">
                <div class="carousel-caption d-none d-sm-block text-right mb-5">
                  <h1 class="display-3">Heading One</h1>
                  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, corporis voluptatem commodi at natus suscipit fuga molestias accusantium perferendis quae.</p>
                  <a routerLink="/register" class="btn btn-success btn-lg">Quick Register Now</a>
                </div>
              </div>
            </div>
        </div>

      <div class="carousel-item carousel-image-2">
          <div class="dark-overlay">
            <div class="container">
              <div class="carousel-caption d-none d-sm-block mb-5">
                <h1 class="display-3">Heading Two</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, corporis voluptatem commodi at natus suscipit fuga molestias accusantium perferendis quae.</p>
                <a routerLink="/contactus" class="btn btn-primary btn-lg">Contact Us</a>
              </div>
            </div>
          </div>
      </div>

      <div class="carousel-item carousel-image-3">
          <div class="dark-overlay">
            <div class="container">
              <div class="carousel-caption d-none d-sm-block text-right mb-5">
                <h1 class="display-3">Heading Three</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, corporis voluptatem commodi at natus suscipit fuga molestias accusantium perferendis quae.</p>
                <a routerLink="/login" class="btn btn-danger btn-lg">Sign In</a>
              </div>
            </div>
          </div>
      </div>

      <div class="carousel-item carousel-image-4">
          <div class="dark-overlay">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block text-right mb-5">
            <h1 class="display-3">Heading Four</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, corporis voluptatem commodi at natus suscipit fuga molestias accusantium perferendis quae.</p>
            <!-- <a routerLink="/login" class="btn btn-danger btn-lg">Sign In</a> -->
          </div>
        </div>
        </div>
      </div>

      <div class="carousel-item carousel-image-5">
          <div class="dark-overlay">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block text-right mb-5">
            <h1 class="display-3">Heading Five</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, corporis voluptatem commodi at natus suscipit fuga molestias accusantium perferendis quae.</p>
            <!-- <a routerLink="/login" class="btn btn-danger btn-lg">Sign In</a> -->
          </div>
        </div>
        </div>
      </div>

      <div class="carousel-item carousel-image-6">
          <div class="dark-overlay">
            <div class="container">
              <div class="carousel-caption d-none d-sm-block text-right mb-5">
                <h1 class="display-3">Heading Six</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, corporis voluptatem commodi at natus suscipit fuga molestias accusantium perferendis quae.</p>
                <!-- <a routerLink="/login" class="btn btn-danger btn-lg">Sign In</a> -->
              </div>
            </div>
          </div>
      </div>

      <div class="carousel-item carousel-image-7">
          <div class="dark-overlay">
            <div class="container">
              <div class="carousel-caption d-none d-sm-block text-right mb-5">
                <h1 class="display-3">Heading Seven</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, corporis voluptatem commodi at natus suscipit fuga molestias accusantium perferendis quae.</p>
                <!-- <a routerLink="/login" class="btn btn-danger btn-lg">Sign In</a> -->
              </div>
            </div>
          </div>
      </div>
  </div>
    <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a href="#myCarousel" data-slide="next" class="carousel-control-next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>
</section>

<section id="bodyenglish" *ngIf="ARABIC">

<div class="container">
  <!-- Start Container for all rows -->

  <div class="row my-5" id="whoRU">
      <br /><br /><br /><br /><br /><br /><br />
      <div class="ml-auto">
          <h1 class="mastertitle text-right">BECOME A MASTER SUCCESS ARCHITECT TO CONSTRUCT A DEEPER VISION</h1>
      </div>
      <div class="col-xs-12 ml-auto mb-3">
              <img src="../../../assets/images/who-are-you.png" alt="who are you">
      </div>
      <div class="col-xs-12">
          <h4>
              Achieve Self mastery…
              Discover the systems that govern our primal Brain…
              How our Brain does helps us survive…
              Use primal Creativity…
              Find out the most simple design equilibrium governing system built within us that makes our brains superior…
              Our Brains are engineered for success…
              How did engineers harness basic Brain mechanisms to build advance technology?
              What makes us superior to Artificial Intelligence Robots and where we are similar?
              Use our Cybernetic nature to create, think, achieve, develop, build character, grow, and succeed.
          </h4>
      </div>
  </div>

  <hr>

  <div class="row my-5">
      <br /><br /><br /><br /><br /><br /><br />
      <div class="col-xs-12 col-sm-6">
          <div>
              <h1>A PREREQUISITE IN SUCCESS ARCHITECTURE <span class="label label-danger">   All   </span></h1>
              <h3 class="logistics">A ONE Day Introductory Training Program</h3>
          </div>
          <div>
              <h4>
                  Start with this training program to discover the concept behind Success Architecture…
                  How does our Brain organize and architects data to foster natural creativity…
                  How can we achieve self mastery; develop our character, and skills?
                  What makes Success Architecture unique?
                  What are the primal success mechanisms in our brain?
                  How can we use these structures to enhance our life values?
              </h4>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6">
              <img src="../../../assets/images/060113g0004.jpg" alt="PREREQUISITE image">
      </div>
  </div>
  <hr>


  <div class="row my-5">
      <br /><br /><br /><br /><br /><br /><br />
      <div class="col-xs-12 col-sm-6">
          <div>
              <h1>CREATIVE SUCCESS ARCHITECTURE CORE <span class="label label-danger">   All   </span></h1>
              <h3 class="logistics">Become a Success Architect in This</h3>
              <h3 class="logistics">FIVE Days Core Training Program</h3>
          </div>
          <div>
              <h4>
                  This main training program focuses on the infinite potential that exists in our primal brain which surpasses any build Computer Programs or machinery.
                  Train in the actual mechanics that make up the components of Success Architecture. Develop these abilities, skills, know-how, and proficiency, to help you harness Success Architecture energies to add balance to your personal and professional life.
                  How do you discover and architect your life plans in accordance with your basic primal instincts. What are the dimensions of personal character and how can you design and architect your personality?
                  Success Architecture is founded on scientific progress in Brain technology, presented in a simple to understand applied methodology. Neurology, Artificial Intelligence, Systems Engineering are the basis for newest discoveries in this area.
                  Make yourself intuitive with habitual automatic energies for Mental Toughness, Creativity, Innovation, Success, and Agility.
                  Build habits in your life with Cybernetic.
              </h4>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6">
          <div class="preqimage">
              <img class="img-fluid" src="../../../assets/images/10072049.JPG"  alt="core program image">
          </div>
      </div>
  </div>
  <hr>


  <div class="row row-content my-5">
      <br /><br /><br /><br /><br /><br /><br />
      <div class="col-xs-12 col-sm-6">
          <div>
              <h1>ART & SKILLS OF STUDY <span class="label label-danger">   Students   </span></h1>
              <h3 class="logistics">A FIVE Day Student Skills Training Program</h3>
          </div>
          <div>
              <h4>
                  Learn strategies used by scientists, scholars, and creative genius. Use Success Architecture mechanisms to gain knowledge and learning? Learn 100 strategies to succeed in school and acquire knowledge. How do you build a strong unshakable character using the foundations for success? How does information structure in your brain? Build and organize your curriculum data in an easy to retrieve method using our Memory Systems. Prevent stress, fear, and gain mental agility, focus, and concentration. Learn critical thinking, innovation, creativity and use these to your advantage. How can you memorize a tremendous amount of information intuitively and use this technique to memorize what you want. What is primal learning? What is you style? Learn how to tackle school, and University confidently using Success Architecture tools.
              </h4>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6">
          <div class="">
              <img class="img-responsive" src="../../../assets/images/38030.jpg"  alt="study skills image">
          </div>
      </div>
  </div>

  <hr>


  <div class="row row-conten my-5">
      <br /><br /><br /><br /><br /><br /><br />
      <div class="col-xs-12 col-sm-6">
          <div>
              <h1>MEMORY OF STEEL <span class="label label-danger">   Individual   </span></h1>
              <h3 class="logistics">A FIVE Day Memory enhancement Training Program</h3>
          </div>
          <div>
              <h4>
                  Ordinary people were able to remember a vast amount of data using these techniques described in this training program. So can you. What is memory? What are the types of memory in our brain? How do we benefit from this information to memorize and retrieve data? Use multiple storage techniques for the same data to reduce forgetfulness. How does our Brain store and construct its data? Is there a Photographic memory? Learn a complete vocabulary to memorize the entire Holy Quran, and use the same techniques to remember any data you require. Use your left and right brain to both memorize information and inspire your creativity to awaken your genius. Overcome information overload and manage your stress levels for optimal brain performance.
              </h4>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6">
          <div class="">
              <img class="img-responsive" src="../../../assets/images/24313.JPG"  alt="Memory of Steel image">
          </div>
      </div>
  </div>
  <hr>


  <div class="row row-content my-5">
      <br /><br /><br /><br /><br /><br /><br />
      <div class="col-xs-12 col-sm-6">
          <div>
              <h1>THINK TANK</h1>
              <h3 class="logistics">A FIVE Day Creative Thinking Course</h3>
          </div>
          <div>
              <h4>
                  Thinking, Creativity, Innovation are skills that can be learnt. Learn the thinking strategies used by Leonardo da vinci, Einstein, Thomas Edison and genius from all ages. What is the ultimate creativity tool basic to our Brain? How to avoid crippling and preventing this mechanism? Learn the skill for natural primal creativity as part of Success Architecture mechanism… Make it part of your instinct. Use it to enhance your life in every aspect. How does data architect in your brain? Learn how data makes up information; and how the space between data structures make up creativity and innovation. How do we end up living inside a box and how do we escape the limiting factors imposed on our thinking brain. Learn types of thinking such as emotional and critical. How important is emotional intelligence in our lives. Learn 100 thinking tools for creativity and problem solving.
              </h4>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6">
          <div class="">
              <img class="img-responsive" src="../../../assets/images/061213d0295.jpg"  alt="Creativity image">
          </div>
      </div>
  </div>
  <hr>


  <div class="row row-content my-5">
      <br /><br /><br /><br /><br /><br /><br />
      <div class="col-xs-12 col-sm-6">
          <div>
              <h1>NURTURING INTELLIGENT ENVIRONMENTS <span class="label label-danger">   Family   </span></h1>
              <h3 class="logistics">A FIVE Day on Fostering Intelligent Environments</h3>
          </div>
          <div>
              <h4>
                  Intrinsic Success Architecture is God given. These mechanisms are so basic that our Brain uses them to create and gain skills essential to children such as walking, speaking, learning…. These primal mechanisms can malfunction at higher levels of consciousness. How can we prevent that from happening to our children? Learn the components that make Success Architecture work and create an incubating environment for this most important automation for our children's success. How can you preserve your baby's intellectual faculties and create an environment that fosters utmost intellectual limits? What are the new scientific strategies for bringing up children that take responsibility in their adult life without any parental intervention? How do we teach our children social behaviors and skills? How do we promote Emotional Intelligence? How do we bring up a smart adult, motivated for success both in and out of school with undiminished energy?
              </h4>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6">
          <div class="">
              <img class="img-responsive" src="../../../assets/images/38156.JPG"  alt="Baby Intelligence image">
          </div>
      </div>
  </div>

    <div class="row my-5 mx-auto">
        <div class="col-sm-3 advert">
            <img src="../../../assets/images/toddler-walking.jpg" alt="Baby Intelligence image">
        </div>
        <div class="col-sm-3 advert">
            <img src="../../../assets/images/24332.JPG" alt="Baby Intelligence image">
        </div>
        <div class="col-sm-3 advert">
            <img src="../../../assets/images/51231.JPG" alt="Baby Intelligence image">
        </div>
    </div>
  </div>
</section>
