
<div class="row mt-5">
  <div class="col-md-5 mx-auto">
    <div class="card card-form border-warning mb-5">
      <div class="card-header">
          <h3 class="text-center">Password Change</h3>
      </div>
      <div class="card-body">
         <div class="row show-hide-message">
             <div [ngClass]="messageClass" class="col-sm-9 border-warning h-50 mx-auto text-center">
               <strong>{{message}}</strong>
             </div>
         </div>
        <form [formGroup]="fc" (submit)="passwordChangeSubmit()">
          <div class="form-group">
            <label for="opassword">Existing Password</label>
            <div [ngClass]="{'has-error':(fc.controls.opassword.errors && fc.controls.opassword.dirty) || (!oldPasswordValid && fc.controls.opassword.dirty), 'has-success': !fc.controls.opassword.errors && oldPasswordValid}">
              <input type="password" name="opassword" class="form-control"
              formControlName="opassword" (blur)="checkOldPassword()">
              <div class="help-block text-light small bg-danger pl-2" *ngIf="(fc.controls.opassword.errors && fc.controls.opassword.dirty) || (!oldPasswordValid && fc.controls.opassword.dirty)">
                  <div *ngIf="fc.controls.opassword.errors?.required">
                    Old Password field is required
                  </div>
                  <div *ngIf="fc.controls.opassword.errors?.minlength || fc.controls.opassword.errors?.maxlength">
                      Password minimum characters: 8, Maximum characters: 35
                  </div>
                  <div *ngIf="fc.controls.opassword.errors?.validatePassword">
                      Password must have At least one uppercase letter, one lowercase letter and one number
                  </div>
                  <div *ngIf="oldPasswordMessage"> {{ oldPasswordMessage }}</div>
              </div>
            </div>
          </div>
          <div class="form-group">
              <label for="npassword">New Password</label>
              <div [ngClass]="{'has-error':(fc.controls.npassword.errors && fc.controls.npassword.dirty), 'has-success': !fc.controls.npassword.errors}">
               <input type="password" name="npassword" class="form-control"
               formControlName="npassword">
               <div class="help-block text-light small bg-danger pl-2" *ngIf="fc.controls.npassword.errors && fc.controls.npassword.dirty">
                   <div *ngIf="fc.controls.npassword.errors?.required">
                     New Password field is required
                   </div>
                   <div *ngIf="fc.controls.npassword.errors?.minlength || fc.controls.npassword.errors?.maxlength">
                       Password minimum characters: 8, Maximum characters: 35
                   </div>
                   <div *ngIf="fc.controls.npassword.errors?.validatePassword">
                       Password must have At least one uppercase letter, one lowercase letter and one number
                   </div>
               </div>
             </div>
            </div>
          <button [disabled]="!fc.valid || !oldPasswordValid" type="submit" class="btn btn-primary btn-block">Submit to Change Password</button>
        </form>
      </div>
    </div>
  </div>
</div>
