<div class="container-fluid well">

</div>

<div class="container">

    <div class="row" id="whoRU">
        <br /><br /><br /><br />
        <div class="ml-auto">
            <h1 class="mastertitle text-right">Join Daily Success Architecture Practice Chi Gong System group and  Certify to become a Master Instructor in Ba-Duan-Jin Chi Gong</h1>
        </div>
        <div class="col-xs-12 ml-auto mb-3">
                <img src="../../../assets/images/woman-3918661.jpg" alt="master success architecture image">
        </div>
        <div class="col-xs-12">
            <h5>
              Learn the eight pieces of brocade exercises to open your body’s energy pathways and help your personal transformation. Awaken your body’s healing potential and experience how energy flows within your body. Research has shown that doing these “pieces of jewels”, greatly reduces stress, and promotes self healing. As you part take in our daily meditative movements, your experience becomes your story to share and to teach to others. Discover your ultimate potential as you unplug the ever present force of Chi in your body, and experience cleanse and true flow as you practice an ancient art that bridges the boundaries between body, mind, and spirit.
            </h5>
            <h5>
                Developed by Success Architecture Founder to fulfill the cleansing and stress relieve components of living a healthy, happy, and successful life. This development came about after practicing this art for more than 12 years with prominent teachers in the Fareast. The practice system is segmented into 10 weeks of daily easy exercise flows. Each weekly segment is five hourly sessions presented daily. These system segments were designed to reap the full benefits of daily Chi Gong Practice:
            </h5>
        </div>
        <div class="col-1">
        </div>
        <div>
          <h5>
            <ul>
            <li>Mind & Body Deep Relaxation.</li>
            <li>Clear Focused Concentration.</li>
            <li>Enhanced sexual energy for longivity.</li>
            <li>Flexibility and full range of motion.</li>
            <li>Good Night Sleep.</li>
            <li>Active and aware immune system.</li>
            <li>Super strength and stamina.</li>
            <li>Improved digestion.</li>
            <li>Holistic Health and Energy Balance.</li>
            <li>Emotional Release and Mood Control.</li>
          </ul></h5>
        </div>
    </div>
    <div class="row">
        <h3 id="colortitle"><i class="fas fa-graduation-cap"></i> Complete 100 Hours to certify as a Teacher.</h3>
        <h3 id="colortitle"><i class="fas fa-graduation-cap"></i> Complete 200 Hours to certify as a Advanced Teacher.</h3>
        <h3 id="colortitle"><i class="fas fa-graduation-cap"></i> Complete 300 Hours to certify as a Master Instructor. Must complete Master Success Architecture Certification in Health, Self Healing & Well Being.</h3>
        <br /><br /><br />
        <div class="col-1"></div>
        <h1 class="display-3 my-5 programstitle"><strong>The 10 Weekly Segments</strong></h1>
    </div>
    <div class="row">
      <div class="col-2"></div>
        <h2><strong>Week-1  : </strong>Deep Relaxation General Introduction.</h2>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <h2><strong>Week-2  : </strong>Lung Balance and Cleanse.</h2>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <h2><strong>Week-3  : </strong>Kidney Balance and Cleanse.</h2>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <h2><strong>Week-4  : </strong>Liver Balance and Cleanse.</h2>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <h2><strong>Week-5  : </strong>Heart Balance and Cleanse.</h2>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <h2><strong>Week-6  : </strong>Spleen Balance and Cleanse.</h2>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <h2><strong>Week-7  : </strong>Triple Burner Cavity Relaxation.</h2>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <h2><strong>Week-8  : </strong>Longivity and Super Charging.</h2>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <h2><strong>Week-9  : </strong>Energy Cultivation, and Bone Breathing Flow.</h2>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <h2><strong>Week-10 : </strong>Meditations and Mindfulness.</h2>
    </div>

    <hr>

</div>
