<div class="container-fluid well">

</div>

<div class="container">

    <div class="row" id="whoRU">
        <br /><br /><br /><br />
        <div class="ml-auto">
            <h1 class="mastertitle text-right">MASTER SUCCESS ARCHITECT in LEARNING, STUDY & TEACHING SKILLS CERTIFICATION</h1>
        </div>
        <div class="col-xs-12 ml-auto mb-3">
                <img src="../../../assets/images/possible-953169.jpg" alt="master success architecture image">
        </div>
        <div class="col-xs-12">
          <h5>
            Learn the strategies, thinking and mental tools that scientists used to gain knowledge throughout history. What is the role of Success Architecture primal mechanisms and how can you use it at Acquiring know how. What are the bases of success? How can you design and build strong personality? How to acquire better grades? Do your homework and face tests without anxiety or worry. Break the fear and the pressure when perusing major milestones. Concentrate and prevent mind shattering that happens to all of us. Learn usable organizing tools? Maximize your mind energies to serve your purpose. What is thinking, creativity, innovation and how to use them to succeed at school and life? What are our learning mental patterns? How can our Brain memorize this vast amount of information.
          </h5>
        </div>
        <p *ngIf="CUSTOMER">
            <a class="btn btn-link" target="_self" href="../../../assets/downloads/01-sae_Prerequisite.pdf" download="EnglishPrerequisite">Download the Success Architecture Prerequisite Course Document... &raquo;
            </a>
        </p>
        <h3 id="colortitle">Besides the Main core training programs; you can take the following two training courses.</h3>
        <br /><br /><br />
        <div class="col-1"></div>
        <h1 class="display-3 my-5 programstitle"><strong>SUBSIDIARY PROGRAMS</strong></h1>
    </div>

    <hr>

    <div class="row my-5">
      <br /><br /><br /><br /><br /><br /><br />
      <div class="col-xs-12 col-sm-6">
          <div>
              <h1 class="mastertitle text-right">The ART & SKILLS OF STUDY</h1>
              <h3 class="logistics">FIVE Day in Students & Teachers Skills</h3>
              <h5>Essential for Master Certification in Learning, Study & Teaching Skills</h5>
          </div>
          <div>
              <h5>
                Learn strategies used by scientists, scholars, and creative genius. Use Success Architecture mechanisms to gain knowledge and learning? Learn 100 strategies to succeed in school and acquire knowledge. How do you build a strong unshakable character using the foundations for success? How does information structure in your brain? Build and organize your curriculum data in an easy to retrieve method using our Memory Systems. Prevent stress, fear, and gain mental agility, focus, and concentration. Learn critical thinking, innovation, creativity and use these to your advantage. How can you memorize a tremendous amount of information intuitively and use this technique to memorize what you want. What is primal learning? What is you style? Learn how to tackle school, and University confidently using Success Architecture tools.
              </h5>
          </div>
          <p *ngIf="CUSTOMER">
              <a class="btn btn-link" target="_self" href="../../../assets/downloads/03_sae_ArtSkillsStudy.pdf" download="EnglishArtSkillStudy">Download the Success Architecture Art Skill of Study Course Document... &raquo;
              </a>
          </p>
      </div>
      <div class="col-xs-12 col-sm-6">
          <div class="">
              <img class="img-responsive" src="../../../assets/images/38030.jpg"  alt="study image">
          </div>
      </div>
  </div>
  <hr>

  <div class="row my-5">
    <br /><br /><br /><br /><br /><br /><br />
    <div class="col-xs-12 col-sm-6">
        <div>
          <h1 class="mastertitle text-right">MEMORY OF STEEL</h1>
          <h3 class="logistics">FIVE Days in Memory and Memorizing</h3>
          <h5>Essential for Master Certification in Learning, Study & Teaching Skills</h5>
        </div>
        <div>
            <h5>
              Ordinary people were able to remember a vast amount of data using these techniques described in this training program. So can you. What is memory? What are the types of memory in our brain? How do we benefit from this information to memorize and retrieve data? Use multiple storage techniques for the same data to reduce forgetfulness. How does our Brain store and construct its data? Is there a Photographic memory? Learn a complete vocabulary to memorize the entire Holy Quran, and use the same techniques to remember any data you require. Use your left and right brain to both memorize information and inspire your creativity to awaken your genius. Overcome information overload and manage your stress levels for optimal brain performance.
            </h5>
          </div>
          <h4 class="logistics">THIS COURSE IS IN ARABIC ONLY.</h4>
          <p *ngIf="CUSTOMER">
              <a class="btn btn-link" target="_self" href="../../../assets/downloads/07_saa_MemorySteel.pdf" download="EnglishMemory"> Download the Success Architecture Memory of Steel Course Document... &raquo;
              </a>
          </p>
      </div>
      <div class="col-xs-12 col-sm-6">
          <div class="">
              <img class="img-responsive" src="../../../assets/images/24313.jpg"  alt="the memory image">
          </div>
      </div>
    </div>

</div>
