.row-footer{
	background-color:#4A2401;
	margin:0px;
	padding: 0px;
    color:#F2ECE6;
    height:500px;
}

.socialhoover:hover {
  border-style: dotted;
}

.container2{
  background: url(../../../assets/images/banner.png) no-repeat center center;
  background-size: cover;
  min-width: 100%;
  padding:0px;
  margin:0px;
  min-height:500px;
}
