<footer class="row-footer p-0 m-0">
  <br /><br />
  <div class="container-fluid container2">
    <div class="row">
      <div class="col-sm-2 ml-5">
          <h5>Links</h5>
          <ul class="list-unstyled">
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/about">About</a></li>
              <li><a routerLink="/contact">Contact</a></li>
          </ul>
      </div>
      <div class="col-sm-5 ml-5">
        <div class="row">
          <div class="col-sm-12">
            <h5>Our Address: </h5>
          </div>
          <div class="col-sm-3">
            <address>
                P.O.Box 167<br>
                45404 ALSURA<br>
                KUWAIT<br>
                <i class="fa fa-phone"></i>: +965 9974 2695<br>
            </address>
          </div>
          <div class="col-sm-3">
              <address>
                  1932 Florence Pike<br>
                  Burlington, KY 41005<br>
                  USA<br>
                  <i class="fa fa-phone"></i>: +1 859 957 9911<br>
              </address>
            </div>
            <div class="col-sm-3">
              <address>
                  170/2 Rimtai Mai Rim<br>
                  Chiang Mai 50180<br>
                  Thailand<br>
                  <i class="fa fa-phone"></i>: +66 92 556 2492<br>
              </address>
            </div>
            <div class="col-sm-12">
              <i class="fa fa-envelope"></i>: <a href="mailto:jasemqabazard@successarchitecture.com">jasemqabazard@successarchitecture.com</a>
                  <br/>
                  <p><i class="fa fa-copyright" aria-hidden="true"></i> Copyright 2015-2019 Success Architecture Corp.</p>
            </div>
        </div>
      </div>
      <div class="col-sm-4 ml-5">
              <a class="btn px-0" href="http://www.facebook.com/profile.php?id="><img class="socialhoover" src="../../../assets/images/f.png" width="50" height="50"></a>
              <a class="btn px-0" href="http://google.com/+"><img class="socialhoover" src="../../../assets/images/g.png" width="50" height="50"></a>
              <a class="btn px-0" href="http://twitter.com/"><img class="socialhoover" src="../../../assets/images/t.png" width="50" height="50"></a>
              <a class="btn px-0" href="http://youtube.com/"><img class="socialhoover" src="../../../assets/images/u.png" width="50" height="50"></a>
              <a class="btn px-0" href="http://www.linkedin.com/in/"><img class="socialhoover" src="../../../assets/images/link.png" width="50" height="50"></a>
      </div>
      <div class="col-sm-12">

      </div>
  </div>
  </div>
</footer>
